<h3><%= @user.username %></h3>

<div id="profile">
	<% if @user.first_name && @user.last_name %>
	<p><%= @user.first_name + " " + @user.last_name %></p>
	<% end %>

	<%= image_tag(@user.avatar.url) %>

	<% if current_user == @user %>
	<%= link_to 'Edit', edit_user_path(@user.id) %>
	<% end %>
</div>