/* Main Page */
#navbar {
	padding-left: 15px;
}

#store {
	background-color: gray;
}

#content {
	background-color: white;
	width: 970px;
	min-height: 890px;
	margin: 50px auto;
	-webkit-border-radius: 5px 5px;
}

#main-nav ul, #sub-nav ul {
	text-align: center;
	margin: 0 auto;	
}

#main-nav li {	
	margin: 30px 0px 15px 0px;
}

#main-nav ul li, #sub-nav ul li {
	display: inline-block;
}

#sub-nav {
	margin-bottom: 10px;
}

#sub-nav li {
	border-style: solid;
	border-width: 1px;
	border-color: lightgray;
	padding: 2px 4px 2px 4px;
}

#sub-nav li a:hover {
	background: none;
}



/* Product Form */
.button-container {
	width: 300px;
}
.button-container div {
	float: right;
}

.button-container .actions {
	margin-left: 10px;
	margin-right: -15px;
}

#product-form {
	margin-top: -40px;
}


p .p-desc {
	width: 300px;
	height: 250px;
}


/* Users Index Page */
.user-frame {
	width: 150px;
	height: 180px;
	float: left;
	list-style-type: none;
	margin: 10px 20px 20px 22px;
	text-align: center;
}

.suggestions {
	text-align: center;
}

.user-image {
	border-style: solid;
	border-width: 1px;
	border-color: lightgray;
	padding: 5px;
	-webkit-border-radius: 5px 5px;	
}

.user-name {
	padding-top: 5px;
}

.user-product-count {
	display: block; 
	margin: 0px auto;
	font-size: 11px;
	color: gray;
	font-style: italic;
}


/* Products Index Page */
.product-creator {
	float: left;
	margin-left: 10px;
}

.product-name {
	color: gray;
	margin: 0 auto;
}

.product-price {
	float: right;
	margin-right: 10px;
	color: green;
}

.product-frame {
	width: 150px;
	height: 200px;
	float: left;
	border-style: solid;
	border-width: 2px;
	border-color: lightgray;
	list-style-type: none;
	-webkit-border-radius: 5px;	
	margin: 5px 14px 20px 22px;
	text-align: center;
	font-style: italic;
}
.product-image {
	margin-top: 5px;
	height: 140px;	
}

/* User Profile */
#profile {
	border-style: solid;
	border-width: 1px;
	border-color: lightgray;
	-webkit-border-radius: 5px;
	display: block;
	margin: 0 auto;
	width: 250px;
}

.user-profile {
	
	width: 250px;
	margin: -20px -50px 10px 0px;
}

.profile-image {
	border-style: solid;
	border-width: 1px;
	border-color: lightgray;
	padding: 10px;
	background-color: white;
	-webkit-border-radius: 5px 5px;	
}

.info {
	padding-top: 5px;
	width: 250px;
}

.info p {
	margin: 0 auto;
	padding-left: 25px;
}

.info h4 {
	margin-top: 10px;
	margin-left: 5px;
}

.user-edit, .user-option {
	padding-top: 30px;
	text-align: center;
}

/* View Product Page */
#product-view {
	border-style: solid;
	border-width: 1px;
	border-color: lightgray;
	-webkit-border-radius: 5px;
	display: block;
	margin: 0 auto;
	width: 250px;
}

.product {
	width: 250px;
	margin: -20px -50px 10px 0px;
}

.product-pic {
	border-style: solid;
	border-width: 1px;
	border-color: lightgray;
	padding: 10px;
	background-color: white;
	-webkit-border-radius: 5px 5px;	
}

.product-edit {
	text-align: center;
	margin-top: 25px;
}

.product-info .info {
	margin: -25px 0px 0px 15px;
	font-size: 16px;
	font-style: italic;
}

.product-info .price {
	color: green;
}

/* My Products Listing Page */
#my_products {
	margin: 0 auto;
	text-align: center;
	width: 800px;
}

#my_products p {
	font-style: italic;
}

#my_products .price {
	color: green;
}