/* Main Page */
#navbar {
	padding-left: 15px;
}

#store {
	background-color: gray;
}

#content {
	background-color: white;
	width: 970px;
	min-height: 890px;
	margin: 50px auto;
	-webkit-border-radius: 5px 5px;
}





p .p-desc {
	width: 300px;
	height: 250px;
}

#profile {
	border-style: solid;
	border-width: 1px;
	border-color: lightgray;
	-webkit-border-radius: 5px;
	display: block;
	margin: 0 auto;
	width: 250px;
}

.user-profile {
	background-color: white;
	width: 250px;
	margin: -20px -50px 10px 0px;
}

.profile-image {
	border-style: solid;
	border-width: 1px;
	border-color: lightgray;
	padding: 10px;
	-webkit-border-radius: 5px 5px;	
}

.info {
	padding-top: 5px;
	width: 250px;
}

.info p {
	margin: 0 auto;
	padding-left: 25px;
}

.info h4 {
	margin-top: 10px;
	margin-left: 5px;
}

.user-edit {
	padding-top: 30px;
	text-align: center;
}





.button-container {
	width: 300px;
}
.button-container div {
	float: right;
}

.button-container .actions {
	margin-left: 10px;
	margin-right: -15px;
}

#product-form {
	margin-top: -40px;
}

#main-nav ul, #sub-nav ul {
	text-align: center;
	margin: 0 auto;	
}

#main-nav li {	
	margin: 30px 0px 15px 0px;
}

#main-nav ul li, #sub-nav ul li {
	display: inline-block;
}

#sub-nav {
	margin-bottom: 10px;
}

#sub-nav li {
	border-style: solid;
	border-width: 1px;
	border-color: lightgray;
	padding: 2px 4px 2px 4px;
}

#sub-nav li a:hover {
	background: none;
}

.user-frame, .product-frame {
	width: 150px;
	height: 180px;
	float: left;
	list-style-type: none;
	margin: 10px 20px 20px 22px;
	text-align: center;
}

.suggestions {
	text-align: center;
}

.user-image {
	border-style: solid;
	border-width: 1px;
	border-color: lightgray;
	padding: 5px;
	-webkit-border-radius: 5px 5px;	
}

.user-name {
	padding-top: 5px;
}

.user-product-count {
	display: block; 
	margin: 0px auto;
	font-size: 11px;
	color: gray;
	font-style: italic;
}

.product-name {
	padding-top: 90px;
	padding-left: 5px;
	float: left;
}

.product-price {
	padding-top: 90px;
	padding-right: 5px;
	float: right; 
}