<div class="suggestions">Log-in to add products for everyone to see!</div>
<table>
    <tbody>
  <% @products.each_with_index do |product, index| %>
  <% if (index%6) == 0 %>
    <tr>
  <% end %>
        <td>
            <li class="product-frame">
                <div class="product-name"><%= link_to product.name, product_path(product.id) %></div>
                <div class="product-price"><%= product.price %>
            </li>
        </td>
  <% if (index%6) == 5 %>
    </tr>
  <% end %>

  <% end %>
</tbody>
</table>

<%= will_paginate @products, :class => 'digg' %>
