<% if @products.size > 0 %>
	<div class='suggestions alert alert-info'>Click on a product to edit!</div>
<% end %>

<div id="my_products">
	<% if current_user == @user %>
		<div>
			<%= link_to "Add new product", { :controller => :products, :action => :new}, :class => "btn btn-info" %>
		</div>
	<% end %>
	<%= render :partial => 'products/list', :collection => @products %>
</div>